@import "tailwindcss";

@theme {
  --color-custom-1: #000000;
  --color-custom-2: #2f2f2f;
  --color-custom-3: #5e5e5e;
  --color-custom-4: #8d8d8d;
  --color-custom-5: #bcbcbc;
}
* {
  @apply box-border;
}
.swiper-wrapper {
  width: 100%;
  height: max-content !important;
  padding-bottom: 64px !important;
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
  position: relative;
}
.swiper-pagination-bullet {
  background: #4f46e5;
}
